<!DOCTYPE html>
<html layout:decorate="~{default}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update password</title>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="styles.css" rel="stylesheet"/>

</head>
<body>

<div align="center" layout:fragment="content">
    <form class="form-signin" method="post" th:action="@{/user/updatePassword}">
        <label for="password">Password:</label><br>
        <input id="password" name="password" placeholder="new password" type="text"/><br><br>
        <label for="matchPassword">Retype Password:</label> <br>
        <input id="matchPassword" name="matchPassword" placeholder="confirm password" type="text"/> <br><br>
        <input name="submitBtn" type="submit" value="Change"/>
    </form>
</div>
</body>
</html>
